@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

body {
    background-color: black;
}

h1 {
    color: gold;
    font-family: 'Sedgwick Ave Display', cursive;
}

p {
	color: gold;
}